<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br/>
    <label for="birthday">Enter date of birth</label>
    <input type="date" th:field="*{birthday}" id="birthday"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</div>
    <br/>
    <label for="email">Enter email</label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="pesel">Enter PESEL</label>
    <input type="text" th:field="*{pesel}" id="pesel"/>
    <div style="color: red" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}">PESEL error</div>
    <br/>
    <input type="submit" value="Edit">
</form>

</body>
</html>